body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #d3d3d3;
}

header {
    background-color: #0d0d0d;
    color: #d4af37; /* Dourado */
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #d4af37;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 20px;
}

header nav ul li a {
    color: #d4af37; /* Dourado */
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #a62929; /* Vermelho */
}

main {
    padding: 40px 20px;
}

main section {
    margin-bottom: 40px;
    border-bottom: 1px solid #d4af37; /* Dourado */
    padding-bottom: 20px;
}

main section h2 {
    color: #d4af37; /* Dourado */
}

main section img {
    max-width: 100%;
    height: auto;
    border: 2px solid #d4af37; /* Dourado */
}

footer {
    background-color: #0d0d0d;
    color: #d4af37; /* Dourado */
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid #d4af37;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-top: 10px;
    color: #d4af37; /* Dourado */
}

form input, form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #d4af37; /* Dourado */
    border-radius: 5px;
    background-color: #333;
    color: #d3d3d3;
}

form button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a62929; /* Vermelho */
    color: white;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #751616; /* Vermelho mais escuro */
}

/* Media Queries para Responsividade */

@media (max-width: 768px) {
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 20px 10px;
    }

    footer {
        padding: 10px 0;
    }

    form {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    header nav ul li {
        margin: 5px 0;
    }

    main {
        padding: 10px 5px;
    }

    form input, form textarea {
        font-size: 0.9em;
    }

    form button {
        padding: 10px;
        font-size: 1em;
    }
}
